doctype 5
html(lang="en")
	head
		title ASDF Library creation page
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="css/style.css")
	body
		h2 ASDF Will Rock!
		#test_div_1
		#test_div_2
		#test_div_3
		#test_div_4
		#test_div_5
		#test_div_6
		#test_div_7
		#test_div_8
		#test_div_9
		#test_div_10
		#test_div_11
		#test_div_12
		#test_div_13
		#test_div_14
		#test_div_15
		#test_div_16
		#test_div_17
		#test_div_18
		#test_div_19
		#test_div_20
		#test_div_21
		#test_div_22
		#test_div_23
		#test_div_24
		#test_div_25
		#test_div_26
		#test_div_27
		#test_div_28
		#test_div_29
		#test_div_30
		#test_div_31
		#test_div_32
		#test_div_33
		#test_div_34
		#test_div_35
		#test_div_36
		#test_div_37
		#test_div_38
		#test_div_39
		#test_div_40
		#test_div_41
		#test_div_42
		#test_div_43
		#test_div_44
		#test_div_45
		#test_div_46
		#test_div_47
		#test_div_48
		#test_div_49
		#test_div_50
		//- Scripts!!
		script(src="js/lib/asdf_init.js")
		script(src="js/lib/asdf_pubsub.js")
		script(src="js/lib/asdf_functions.js")
		script(src="js/lib/asdf_classes.js")
		script(src="js/lib/asdf_data_bind.js")
		script(src="js/lib/asdf_dom.js")
		
		script(src="js/lib/asdf_main.js")
		
		script(src="js/src/app.js")