doctype 5
html(lang="en")
	head
		title ASDF Library creation page
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="css/style.css")
	body
		h2 ASDF Will Rock!

		//- Scripts!!
		script(src="js/lib/asdf_init.js")
		script(src="js/lib/asdf_classes.js")
		script(src="js/lib/asdf_pubsub.js")
		script(src="js/lib/asdf_data_bind.js")
		
		script(src="js/lib/asdf_main.js")
		
		script(src="js/src/app.js")